# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output directories
dist/
dist-ssr/

# Editor directories and files
.vscode/
.idea/

# Visual Studio specific files
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS specific files
.DS_Store

# Temporary files
*.local
