@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Joystix Monospace";
  src: url("/assets/fonts/JoystixMonospace-Regular.woff") format("woff2"),
    url("/assets/fonts/JoystixMonospace-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  background-image: url("/assets/shadowsofeternia.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 0px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.transition-opacity {
  transition: opacity 4000ms;
}

@keyframes combinedGlow {
  0% {
    text-shadow: 0 0 0 navy, 0 0 0 navy, 0 0 0 navy, 0 0 0 navy;
  }
  50% {
    text-shadow: 0 0 20px white, 0 0 40px white, 0 0 50px white, 0 0 60px white,
      0 0 70px white;
  }
  100% {
    text-shadow: 0 0 20px navy, 0 0 40px navy, 0 0 50px navy, 0 0 60px navy,
      0 0 70px navy;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0 0 rgba(0, 0, 255, 0.5);
  }
  50% {
    text-shadow: 0 0 20px 10px rgba(0, 0, 255, 0.5);
  }
  100% {
    text-shadow: 0 0 0 0 rgba(0, 0, 255, 0.5);
  }
}

.nameglow {
  color: red;
  text-emphasis: bold;
  text-shadow: 0 0 10px white;
}

.soetext {
  font-family: "Joystix Monospace";
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, white, black);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: combinedGlow 8s ease-in-out infinite alternate;
}
